[submodule "Frontend"]
	path = Frontend
	url = https://github.com/JordanArias/Red-Social-Frontend.git
[submodule "Backend"]
	path = Backend
	url = https://github.com/JordanArias/Red-Social-Backend.git
